body {
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
}

.all {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 1920px) {
    img {
        width: 14%;
        height: auto;
        display: inline-block;
        align-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .all {
        width: 90%;
        margin-top: 5%;
        height: 100%;
        margin-left: 5%;
    }

    img {
        width: 20%;
        height: auto;
        margin-right: 3%;
    }
}

.alert {
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: aqua;
    border-radius: 20px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, 0);
    top: 20%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    display: none;
}    